**
!Dockerfile
!Dockerfile/**
!build
!build/**
!include
!include/**
!package.json
!pnpm-lock.yaml
!.versionrc
!res
!res/**
!run.sh
!test
!test/**
!tsconfig.json

.git
.github
coverage
gha-creds-*.json
node_modules
